<header>
    <h1>RelaxMasszázs Stúdió</h1>
    <nav>
        <select #pageValue (change) = "pageSwitch(pageValue.value)">
        <!-- <ul>
        
        <li value="aboutus"><a href="#rolunk">Rólunk</a></li>
        <li value="services"><a href="#szolgaltatasok">Szolgáltatások</a></li>
        <li value="contact"><a href="#kapcsolat">Kapcsolat</a></li>
   
      </ul>-->
      <option value="home">Főoldal</option>
      <option value="aboutus">Rólunk</option>
      <option value="services">Szolgáltatások</option>
      <option value="contact">Kapcsolat</option>

    </select>
    </nav>
  </header>